aiogram
aiohttp
python-decouple==3.8
openai
SQLAlchemy==2.0.39
alembic==1.15.1
psycopg2-binary==2.9.10
fluent.runtime==0.4.0
tiktoken
python-docx
PyPDF2
llama-index
llama-index-vector-stores-couchbase
couchbase
# Для работы с различными форматами файлов
#unstructured[all-docs]
pytesseract
python-magic
python-pptx
beautifulsoup4
markdown
pdfminer.six
# Для работы с аудио
#openai-whisper
# Для работы с изображениями
#pillow
#transformers
#torch

